

:root {
  /**
     * colors
     */

  --carolina-blue: hsl(204, 91%, 53%); /**/

  --alice-blue-4: hsl(217, 33%, 92%); /**/
  --independence: hsl(219, 21%, 39%); /**/

  --space-cadet: hsl(240, 22%, 25%); /**/

  --white: hsl(0, 0%, 100%); /**/

  --gradient: linear-gradient(
    to top,
    var(--alice-blue-2),
    var(--alice-blue-3)
  ); /**/

  /**
     * typography
     */

  --ff-nunito: "Nunito", sans-serif; /**/

  --fs-6: 0.875rem; /**/
  --fs-7: 0.625rem; /**/

  --fw-600: 600; /**/

  /**
     * transition
     */

  /**
     * spacing
     */

  /**
     * radius
     */

  --radius-10: 10px; /**/
  /**
     * shadow
     */
}

/*----------
  
  /*-----------------------------------*\
    #FOOTER
  \*-----------------------------------*/
  .footer ul {
    list-style: none;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer {
    background: var(--alice-blue-4);
    color: var(--independence);
  }
  
  .footer a {
    color: inherit;
  }
  
  .footer-top {
    padding-block: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 50px;
  }
  
  .footer-top .logo {
    margin-bottom: 20px;
  }
  
  .footer-text {
    font-size: var(--fs-6);
    line-height: 1.8;
  }
  
  .footer-list {
    font-family: var(--ff-nunito);
  }
  
  .footer-list:not(:last-of-type) {
    width: 50%;
  }
  
  .footer-list:last-of-type {
    width: 100%;
    column-count: 2;
  }
  
  .footer-list-title {
    color: var(--space-cadet);
    font-weight: var(--fw-600);
    margin-bottom: 8px;
  }
  
  .footer-link {
    font-size: var(--fs-6);
    padding-block: 6px;
  }
  
  .footer-link:is(:hover, :focus) {
    color: var(--carolina-blue);
  }
  
  .footer-list:last-child > li:first-child {
    column-span: all;
  }
  
  .footer-bottom {
    background: var(--gradient);
    border: 1px solid var(--white);
    border-radius: var(--radius-18) var(--radius-18) 0 0;
    padding: 20px;
  }
  
  .social-list {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  .social-link {
    font-size: 20px;
  }
  
  .social-link ion-icon {
    --ionicon-stroke-width: 40px;
  }
  
  .social-link:is(:hover, :focus) {
    color: var(--carolina-blue);
  }
  
  .copyright {
    font-size: var(--fs-6);
  }
  
  .copyright > a {
    display: inline-block;
  }
  
  .copyright > a:is(:hover, :focus) {
    color: var(--carolina-blue);
  }
  
  /*-----------------------------------*\
      #MEDIA QUERIES
    \*-----------------------------------*/
  
  /**
     * responsive for large than 350px screen
     */
  
  @media (min-width: 350px) {
    /**
       * FEATURED CAR
       */
  
    .featured-car-card .card-list {
      grid-template-columns: 1fr 1fr;
    }
  
    .featured-car-card .card-price {
      margin-right: auto;
    }
  
    .featured-car-card .btn:last-child {
      min-width: max-content;
      padding-inline: 15px;
    }
  }
  
  /**
     * responsive for large than 580px screen
     */
  
 
    /**
       * REUSED STYLE
       */
  
    
    /*
       * HEADER
       */
  
    
  /**
     * responsive for large than 768px screen
     */
  
  @media (min-width: 768px) {
    /**
       * CUSTOM PROPERTY
       */
  
    :root {
      /**
         * typography
         */
  
      --fs-1: 2.625rem;
    }
  
    /**
       * REUSED STYLE
       */
  
   
  
    .footer-brand {
      width: 100%;
    }
  
    .footer-text {
      max-width: 400px;
    }
  
    .footer-bottom {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
  
      box-shadow: var(--shadow-1);
    }
  
    .social-list {
      margin-bottom: 0;
    }
  }
  
  /**
     * responsive for large than 992px screen
     */
  
  
  /**
     * responsive for large than 1200px screen
     */
  
  @media (min-width: 556px) {
    /**
       * CUSTOM PROPERTY
       */
  
    :root {
      /**
         * typography
         */
  
      --fs-1: 2.875rem;
      --fs-2: 2rem;
    }
  
    /**
       * REUSED STYLE
       */
  
  
  
    .footer-brand {
      width: 33.33%;
    }
  
    .footer-text {
      max-width: 35ch;
    }
  
    .footer-list:not(:last-of-type) {
      width: 16.66%;
    }
  
    .footer-list:last-of-type {
      width: 33.33%;
    }
  }
  